html, body {
    height: 100%;
    margin: 0;
  }


.image-container {
    height: 100%;
    width: 30%;
    position: relative;
}


.image-container img {
    height: 100%;
    width: 100%;
}


.logo-image {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 30%;
    background-color: gray;
    opacity: 0.5;
}