html, body {
    height: 100%;
    margin: 0;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    height: 100%
    
}

.image-container {
    flex: 2;
    width: 30%;
    position: relative;
}


.image-container img {
    height: 100%;
    width: 100%;
}


.logo-image {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 30%;
    background-color: gray;
    opacity: 0.5;
}


.form-container {
    flex: 5;
    flex-direction: column;
    background-color: grey;
}




.intro-part {
    height: 33.3%;
    width: auto;
    background-color: grey;
}

.form-part {
    height: 33.3%;
    width: auto;
    background-color: white;
}

.submit-and-login {
    height: 33.3%;
    width: auto;
    background-color: grey;
}